# DataScienceEcosystem

## In this notebook, Data Science Tools and Ecosystem are summarized

 **Objectives:**
 
in this noteebook we will show some exemples of:

- Popular languages most used by Data Scientists
- Commmonly Libraries used by Data Scientists
- Most frequently Tools used by Data Scientists
- Some examples of arithmetic expressions in Python

## Some of the popular languages that Data Scientists use are:
- Python
- SQL
- R
- Julia
- JavaScript
- Scala

## Some of the commonly used libraries used by Data Scientists include:
- TensorFlow.
- NumPy.
- SciPy.
- Pandas.
- Matplotlib.
- Keras.
- SciKit-Learn.
- PyTorch

## Data Science Tools

|Data Science Tools|
|------------------|
|Apache Hadoop|
|Tableau|
|TensorFlow|

### Bellow are a few examples of evaluating arithmetic expressions in Python

In [3]:
#### This a simple arithmetic expression to mutiply (3*4)+5

(3*4)+5

17

In [4]:
#### This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author 

Felipe Fadanni